{% extends "blog/base.html" %}
{% block title %}Login{% endblock %}

{% block content %}

<section class="auth-section">

    <div class="auth-container">

        <a href="/" class="back-link">
            ← Back to Home
        </a>

        <div class="auth-card glass">

            <div class="auth-top">

                <div class="auth-icon">
                    🔐
                </div>

                <h1>
                    Welcome Back
                </h1>

                <p>
                    Login to continue reading technology articles.
                </p>

            </div>

            <form method="post">

                {% csrf_token %}

                <div class="form-group">

                    <label>Username</label>

                    <input
                            class="input"
                            type="text"
                            name="username"
                            placeholder="Enter your username"
                            autofocus>

                </div>

                <div class="form-group">

                    <label>Password</label>

                    <input
                            class="input"
                            type="password"
                            name="password"
                            placeholder="Enter your password">

                </div>

                {% if form.errors %}

                    <div class="error-box">

                        Username yoki parol noto'g'ri.

                    </div>

                {% endif %}

                <input
                        type="hidden"
                        name="next"
                        value="{{ next }}">

                <button
                        class="btn btn-primary auth-button"
                        type="submit">

                    Login

                </button>

            </form>

            <div class="auth-links">

                <a href="{% url 'blogapp:register' %}">
                    Create Account
                </a>

                <a href="{% url 'password_reset' %}">
                    Forgot Password?
                </a>

            </div>

        </div>

    </div>

</section>

{% endblock %}