.footer{

    margin-top:120px;

    padding:60px 0;

    border-top:1px solid rgba(255,255,255,.06);

}

.footer-content{

    width:min(1200px,92%);

    margin:auto;

    text-align:center;

}

.footer h2{

    font-size:34px;

}

.footer p{

    color:#94A3B8;

    margin-top:15px;

}

.footer-links{

    display:flex;

    justify-content:center;

    gap:35px;

    margin:40px 0;

}

.footer-bottom{

    margin-top:35px;

    color:#64748B;

    font-size:15px;

}