{% if page.has_other_pages %}

<nav class="pagination">

    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}" class="page-btn">
            ← Previous
        </a>
    {% endif %}

    {% for i in page.paginator.page_range %}

        {% if page.number == i %}

            <span class="page-number active-page">

                {{ i }}

            </span>

        {% else %}

            <a href="?page={{ i }}" class="page-number">

                {{ i }}

            </a>

        {% endif %}

    {% endfor %}

    {% if page.has_next %}

        <a href="?page={{ page.next_page_number }}" class="page-btn">

            Next →

        </a>

    {% endif %}

</nav>

{% endif %}